.button {
  width: 13.438rem;
  height: 2.688rem;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.2s;

  &:hover,
  &:focus {
    background-color: var(--blue-surf);
    color: var(--background);
  }

  &:disabled {
    background-color: var(--gray-4);
    color: var(--background);
  }
}
