.button {
  width: 13.438rem;
  height: 2.688rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  background-color: var(--gray-2);
  color: var(--text);
  transition: filter 0.2s;

  &:hover,
  &:focus {
    filter: brightness(0.9);
  }

  &:disabled {
    background-color: var(--gray-4);
    color: var(--background);
  }
}
