.container {
  width: 19rem;
  height: 22.125rem;
  background-color: var(--gray-2);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 2%;
  cursor: pointer;
  transition: filter 0.2s;

  @media(max-width: 1366px){
    width: 17rem;
  }

  &:hover {
    filter: brightness(0.95);
  }

  .icons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .typeIcons {
      display: flex;
      align-items: center;
      gap: 5px;

      img {
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    .pokeSprite {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--background);

      img {
        width: 80%;
      }
    }
  }

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 13rem;
      height: 13rem;
    }
  }

  .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 18px;
    color: var(--gray-5);
    text-transform: capitalize;

    .pokeName {
      font-weight: bold;
    }
  }
}
