.pageContainer {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;

  .pageContent {
    width: 83.75rem;
    display: flex;
    flex-direction: column;

    .buttonsContainer {
      width: 100%;
      margin-top: 1%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;

      select {
        width: 13.438rem;
        height: 2.688rem;
        padding: 0 0.5%;
        gap: 10px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        background-color: var(--background);
        color: var(--text);
        transition: filter 0.2s;
        border: 1px solid var(--gray-4);
        outline: 0;
        cursor: pointer;
      }
    }

    .pokeListContainer {
      margin-top: 2%;
      display: grid;
      max-width: 100%;
      grid-template-columns: repeat(auto-fit, 20.8%);
      align-items: center;
      gap: 2rem 5%;
    }

    @media (max-width: 1366px) {
      width: 90%;
    }

    @media (max-width: 820px) {
      .pokeListContainer {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding-left: 9%;
      }
    }

    @media (max-width: 414px) {
      .buttonsContainer {
        button {
          font-size: 14px;
        }
        select {
          font-size: 14px;
        }
      }
      .pokeListContainer {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
