.pageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .pageContent {
    width: 83.75rem;
    display: flex;
    flex-direction: column;

    .buttonsContainer {
      width: 100%;
      margin-top: 1%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      .numberOfPokes {
        span {
          font-size: 18px;
          font-weight: bold;
          color: var(--gray-5);
        }
      }

      select {
        width: 13.438rem;
        height: 2.688rem;
        padding: 0 0.5%;
        gap: 10px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        background-color: var(--background);
        color: var(--text);
        transition: filter 0.2s;
        border: 1px solid var(--gray-4);
        outline: 0;
        cursor: pointer;

        text-transform: capitalize;
      }
    }

    .pokeListContainer {
      margin-top: 2%;
      display: grid;
      max-width: 100%;
      grid-template-columns: repeat(auto-fit, 20.8%);
      align-items: center;
      gap: 2rem 5%;
    }

    @media (max-width: 1366px) {
      width: 90%;
    }

    @media (max-width: 920px) {
      .pokeListContainer {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding-left: 9%;
      }

      .buttonsContainer {
        margin: 1rem 0 0.5rem 0;
      }
    }

    @media (max-width: 414px) {
      .buttonsContainer {
        button {
          font-size: 12px;
          width: 8rem;

          img {
            width: 14px;
            height: 14px;
          }
        }
        select {
          font-size: 14px;
        }

        .numberOfPokes {
          span {
            font-size: 14px;
          }
        }
      }
      .pokeListContainer {
        padding-right: 2rem;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.buttonContainer {
  width: 100%;
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
