.container {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1% 2% 2% 2%;

    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      font-weight: 700;
      color: var(--text);
      gap: 5px;

      img {
        margin-bottom: 10px;
        width: 4rem;
        height: 3rem;
      }
    }

    .searchContainer {
      display: flex;
      align-items: center;
      justify-content: center;

      input {
        width: 38.688rem;
        height: 4rem;
        background-color: var(--gray-2);
        outline: 0;
        border: none;
        border-radius: 15px;
        padding: 0 8% 0 4%;
        font-size: 18px;
        color: var(--text);

        &::placeholder {
          color: var(--gray-4);
        }
      }
      .searchIcon {
        width: 1.25rem;
        height: 1.25rem;
        color: var(--gray-4);
        margin-left: -2.5rem;
        cursor: pointer;
      }

      @media(max-width: 1366px){
        input{
          width: 30.688rem;
          font-size: 16px;
          padding: 0 10% 0 4%;
          height: 3.5rem;
          margin-right: 6rem;

        }
        .searchIcon{
          margin-left: -8.5rem;
        }
      }
    }
  }

  .content {
    width: 83.75rem;
    display: flex;
    flex-direction: column;

    @media(max-width: 1366px) {
      width: 90%;
    }

    .buttonsContainer {
      width: 100%;
      margin-top: 1%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;

      select {
        width: 13.438rem;
        height: 2.688rem;
        padding: 0 0.5%;
        gap: 10px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        background-color: var(--background);
        color: var(--text);
        transition: filter 0.2s;
        border: 1px solid var(--gray-4);
        outline: 0;
        cursor: pointer;
      }
    }

    .pokeListContainer {
      margin-top: 2%;
      display: grid;
      flex-direction: column;
      max-width: 100%;
      grid-template-columns: repeat(auto-fit, 20.8%);
      align-items: center;
      gap: 2rem 5%;
    }

    .loadContainer {
      margin-top: 2rem;
      padding-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        border: 1px solid var(--gray-2);
        font-weight: bold;
      }

      .backToTop {
        button {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
        }
      }
    }
  }
}
