.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: var(--gray-4);

  @media (max-width: 1366px) {
    font-size: 14px;
  }
}
