.container {
  display: flex;
  width: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;

  span {
    transition: color 0.2s;
    padding: 0.2% 0.4%;
  }
}

@media (max-width: 414px) {
  .container {
    padding: 0 6% 0 6%;
    margin: 5px 0 5px 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 8px;
    div {
      font-size: 10px;
    }
  }
}

@media (max-width: 920px) {
  .container {
    padding: 0 6% 0 6%;
    margin: 5px 0 5px 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 8px;
  }
}
