.container {
  padding: 4%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;

  .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .statsBar {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }

  .statsName {
    text-transform: capitalize;
    color: var(--gray-4);
  }
}
